<h2>Favorites</h2>
<div class="all-list-wrapper">
  {{#each favorites}}
  <div class="product-item">
    <a href="/product/{{this.product._id}}"><img src="{{this.product.imgPath}}" alt="{{this.product._id}}"></a>
    <p class="m-l-10">{{this.product.title}}</p>
  <form action="/favorite/{{_id}}/delete" method="post" class="m-l-10">
    <input type="submit" class="btn delete" value="Delete">
  </form>
  </div>
  {{else}}
  <p>There are no products yet!</p>
  {{/each}}
</div>