<h2>Product list</h2>

<a id="filter-link" class="filter" href="/filterByDistance">Filter by distance</a>

<div class="all-list-wrapper">
{{#each theProduct}}
  <a href="/product/{{this._id}}" class="product-item">
    <img src="{{this.imgPath}}" alt="{{this.title}}">
    <h3 class="price">{{this.price}}</h3>
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
  </a>
{{else}}
  <p>There are no products yet!</p>
{{/each}}
</div>