<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user }}
  <p>Hello, {{user.username}}</p>
{{/if}}


<h2>Product list</h2>
<div class="all-list-wrapper">
 {{#each theProduct}}
  <div class="product-item">
    <img src="{{this.imgPath}}" alt="{{this.title}}">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
  </div>
{{else}}
  <p>There are no products yet!</p>
{{/each}}
</div>


<nav>
  <ul>
    {{#if user }}
      <li> <a href="/auth/logout"> Log Out </a> </li>
      <li> <a href="/profile"> Profile </a> </li>
    {{else}}
      <li> <a href="/auth/signup"> Sign Up </a> </li>
      <li> <a href="/auth/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>





