<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
  <h1>{{title}}</h1>
</header>

<nav>
  <ul>
  {{#if user }}
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/profile/{{ user._id }}">Profile</a>
    </li>
    <li>
      <a href="/auth/logout">Log Out</a>
    </li>
    <li class="last-li">
      <p>Hello, {{user.username}}</p>
    </li>
  {{else}}
    <li>
      <a href="/auth/login">Log In</a>
    </li>
    <li>
      <a href="/auth/signup">Sign Up</a>
    </li>
  {{/if}}
  </ul>
</nav>

{{{body}}}

</body>
</html>
