<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
  <h1>{{title}}</h1>
</header>

{{#if user }}
<p>Hello, {{user.username}}</p>
{{/if}}

<nav>
  <ul>
  {{#if user }}
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li>
      <a href="/auth/logout">Log Out</a>
    </li>
  {{else}}
    <li>
      <a href="/auth/login">Log In</a>
    </li>
    <li>
      <a href="/auth/signup">Sign Up</a>
    </li>
  {{/if}}
  </ul>
</nav>

{{{body}}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC89tGpydOEjhmdwbhjvxt-V_5RPx_PYnI"></script>
<script src='/javascripts/script.js'></script>
</body>
</html>
