<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{title}}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC89tGpydOEjhmdwbhjvxt-V_5RPx_PYnI"></script>
<script src="/javascripts/script.js"></script>
</head>
<body>

  <header>
    <img src="/images/logo-wadaloop.png" alt="Wadaloop logo">
    <h1>{{title}}</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      {{#if user }}
      <li>
        <a href="/profile/{{ user._id }}">Profile</a>
      </li>
      <li>
        <a href="/auth/logout">Log Out</a>
      </li>
    </ul>
    <p><i>God bless you: {{user.username}}!</i></p>
      {{else}}
      <li>
        <a href="/auth/login">Log In</a>
      </li>
      <li>
        <a href="/auth/signup">Sign Up</a>
      </li>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <p>&copy; Wadaloop. Make with love for <a href="https://github.com/ibanez1">Alejándro Ibañez</a> y <a href="https://github.com/pablorgarcia">Pablo García</a></p>
    <p>Special thanks to ours teachers: <a href="https://github.com/suvadillo">Susuana</a>, <a href="https://github.com/beltranrengifo">Beltrán</a>, <a href="https://github.com/Girgetto">Giorgio</a>, <a href="https://github.com/VictorIrix">Victor</a> y <a href="https://github.com/boyander">Marc</a></p>
    <p>Branding idea of <a href="https://github.com/JavierVRM">Javier Valiente</a></p>
    <p>Alba Balbás like professional letterpress machine</p>
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>