<h2> Product </h2>

<img src="{{theProduct.imgPath}}" alt="{{theProduct.imgName}}">
<h3>{{ theProduct.title }}</h3>
<p>{{ theProduct.description }}</p>
<h4>{{ theProduct.price }}</h4>

<a href="#">Buy</a>



<a href="/favorite/{{theProduct._id}}"> Añadir a Favoritos </a>





  
   







