{{!-- <form action="/profilePhoto" method="POST" enctype="multipart/form-data">
<form action="/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
  <div>
    <label for="profilePhoto">Upload my profile photo:</label>
    <input type="file" name="profilePhoto">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload">
  </div>
</form> --}}


<div class="box-section">
  <h2>Favorites</h2>
  <a href="/favorite">Ver mis Favoritos!</a>
</div>

<div class="box-section">
<h2>Pon un nuevo Producto a la venta!</h2>
<form action="/profile/{{user._id}}" method="POST" enctype="multipart/form-data">
<h3>New Product</h3>
  <div>
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div>
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div>
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
  <div>
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div>
  <div>
    <label>Address</label>
    <input type="text" name="latitude" placeholder="Latitude">
    <input type="text" name="longitude" placeholder="Longitude">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload product">
  </div>
</form>
</div>

<div class="box-section">
<h2>Mis Productos a la Venta</h2>
<ul>
  {{#each productsTrim}}
  <p>{{this.title}}</p>
  <img src="{{this.imgPath}}" alt="">
  <a href="/product/{{this._id}}">view Product</a>
  <form action="/profile/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>  
  <form action="/profile/{{_id}}/edit" method="get">
    <button type="submit">Edit</button>
  </form>
  {{!-- <form action="/favorite/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>  --}} 
  {{/each}}
</ul>
</div>