<div class="box-section filter-box">
  <h2>My cart</h2>
  <a href="/cart" class="filter green">My cart list</a>
</div>

<div class="box-section filter-box">
  <h2>Favorites</h2>
  <a href="/favorite" class="filter green">My favorites list</a>
</div>

<div class="box-section">
<form action="/profile/{{user._id}}" method="POST" enctype="multipart/form-data">
  <h2>Sell a new Product</h2>
  <div class="form-line">
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div class="form-line">
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div class="form-line">
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
  <div class="form-line">
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div>
  <div class="form-line">
    <label>Address:</label>
    <input type="text" name="latitude" placeholder="Latitude">
    <input type="text" name="longitude" placeholder="Longitude">
  </div>
  <div>
    <input type="submit" class="btn update" value="Upload product">
  </div>
</form>
</div>

<div class="box-section">
<h2>My products for sale</h2>
<div class="all-list-wrapper">
  {{#each productsTrim}}
  <div class="product-item">
    <a href="/product/{{this._id}}"><img src="{{this.imgPath}}" alt="{{this._id}}"></a>
    <p class="m-l-10">{{this.title}}</p>
    <form action="/profile/{{_id}}/edit" method="get">
      <input type="submit" class="btn edit m-l-10" value="Edit">
    </form>
    <form action="/profile/{{this._id}}/delete" method="post">
      <input type="submit" class="btn delete m-l-10" value="Delete">
    </form>
  </div>
  {{else}}
  <p>There are no products yet!</p>
  {{/each}}
</div>
</div>