{{!-- <form action="/profilePhoto" method="POST" enctype="multipart/form-data">
<form action="/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
  <div>
    <label for="profilePhoto">Upload my profile photo:</label>
    <input type="file" name="profilePhoto">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload">
  </div>
</form> --}}

<div class="box-section filter-box">
  <h2>Favorites</h2>
  <a href="/favorite" class="filter green">My favorites list</a>
</div>

<div class="box-section">
<form action="/profile/{{user._id}}" method="POST" enctype="multipart/form-data">
  <h2>Sell a new Product</h2>
  <div class="form-line">
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div class="form-line">
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div class="form-line">
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
  <div class="form-line">
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div>
  <div class="form-line">
    <label>Address:</label>
    <input type="text" name="latitude" placeholder="Latitude">
    <input type="text" name="longitude" placeholder="Longitude">
  </div>
  <div>
    <input type="submit" class="btn update" value="Upload product">
  </div>
</form>
</div>

<div class="box-section">
<h2>My products for sale</h2>
<ul>
  {{#each productsTrim}}
  <p>{{this._id}}</p>
  <a href="/product/{{this._id}}">view Product</a>
  <form action="/profile/{{_id}}/edit" method="get">
    <input type="submit" class="btn edit" value="Edit">
  </form>
  <form action="/profile/{{this._id}}/delete" method="post">
    <input type="submit" class="btn delete" value="Delete">
  </form>  
  {{!-- <form action="/favorite/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>  --}} 
  {{/each}}
</ul>
</div>